[client]
default-character-set=utf8mb4

[mysqld]
user = ${DB_USER}
port = 3306
bind-address = 0.0.0.0
init-connect='SET NAMES utf8mb4'
collation-server     = utf8mb4_unicode_ci
socket=/var/lib/mysql/mysql.sock

[mysql]
user = ${DB_USER}
password = ${DB_PASSWORD}
port = 3306
socket=/var/lib/mysql/mysql.sock